#root {
  /* max-width: 1280px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  /* padding: 2rem; */
  /* border: 2px solid black; */
}
